html,
body {
    background: -webkit-linear-gradient(left top, darkslategray, rgb(166, 196, 196));
    padding: 0;
    margin: 0;
    background-attachment: fixed;
    color: #fff;
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 140%;
    margin: 0;
    height: 100%;
    padding: 0;
    text-align: center;
}

.image-grid div {
    width: 25%;
    height: 240px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.image-grid {
    display: flex;
    flex-wrap: wrap;
}

.test_box .inner {
    background: #333;
    display: block;
    margin: 10px;
    overflow: hidden;
    width: 25%;
    height: 240px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.test_box .inner .test_click {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, .1);
    color: #fff;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    mix-blend-mode: normal;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
}

.test_box .inner .test_click:hover {
    background-color: rgb(166, 196, 196);
    mix-blend-mode: hard-light;
}

.box-01 .inner {
    background-image: url('https://picsum.photos/1024/768?image=1033');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

.test_box .inner .test_click:hover {
    background-color: rgb(166, 196, 196);
    mix-blend-mode: hard-light;
}

.flex_this {
    -webkit-align-content: center;
    -ms-flex-line-pack: center;
    align-content: center;
    display: inherit;
    flex-wrap: inherit;
    height: auto;
    margin: 0;
    padding: 10px;
    -webkit-transition: all 300ms ease;
    transition: all 300ms ease;
    width: 100%;
}

.test_title {
    display: block;
    font-weight: 700;
    margin: 0 0 20px;
    width: 100%;
}

.test_link {
    border: 2px solid #fff;
    display: inline-block;
    font-size: .8em;
    font-weight: 700;
    letter-spacing: .1em;
    margin: 0 auto;
    padding: 10px 30px;
    text-transform: uppercase;
}

.image01:hover {
    background-color: rgb(166, 196, 196);
    mix-blend-mode: hard-light;
}

.image01 {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/409269/food-drink-01.jpg');
}

.image02 {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/409269/food-drink-02.jpg');
}

.image03 {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/409269/food-drink-03.jpg');
}

.image04 {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/409269/food-drink-04.jpg');
}

.image05 {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/409269/food-drink-05.jpg');
}

.image06 {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/409269/food-drink-06.jpg');
}

.image07 {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/409269/food-drink-07.jpg');
}

.image08 {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/409269/food-drink-08.jpg');
}

.image09 {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/409269/food-drink-09.jpg');
}

.image10 {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/409269/food-drink-10.jpg');
}

.image11 {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/409269/food-drink-11.jpg');
}

.image12 {
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/409269/food-drink-12.jpg');
}

@media screen and (max-width: 400px) {
    .image-grid {
        flex-direction: column;
        flex-wrap: no-wrap;
    }
    .image-grid div {
        width: 100%;
    }
}